.skills-section {
  background-color: var(--background-site-color);
  padding: 116px 0 112px 0;
}

.skills-heading {
  margin-bottom: 50px;
}

.skills-progress {
  display: flex;
  flex-direction: column;
}


.back-progress {
  background-color: #C4C4C4;
  width: 445px;
  height: 4px;
}

.filling-progress {
  position: relative;
  width: 75%;
  height: inherit;
  background-color: var(--secondary-color);
  z-index: 3;
}

.skills-img {
  width: 555px;
  height: 450px;
}

